<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wheater App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    World's Capital Cities Wheater App
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" placeholder="Enter City Name" name="city_name"
                                    id="city_name" />
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Search City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            {% if city_weather %}
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="https://www.metaweather.com/static/img/weather/png/64/{{ city_weather.icon }}.png"
                                        alt="Image">
                                </figure>
                            </div>
                            {% else %}
                            <br>
                            {% endif %}
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        {% if location %}
                                        <span class="title">{{ location.title }}</span>
                                        {% else %}
                                        <span class="title">Find the city's weather</span>
                                        {% endif %}
                                        <br>
                                        {% if city_weather %}
                                        <span class="subtitle">Temperature: {{ city_weather.the_temp }}° C</span>
                                        <br>
                                        <span class="subtitle">Air Pressure: {{ city_weather.air_pressure }} mbar</span>
                                        <br>
                                        <span class="subtitle">Humidity: {{ city_weather.humidity }} %</span>
                                        <br>
                                        <span class="subtitle">Wind Speed: {{ city_weather.wind_speed }} mph</span>
                                        <br>
                                        <span class="subtitle">Current Condition: {{ city_weather.description }}</span>
                                        {% else %}
                                        <br>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-5 is-5">
                    <p>API Provided by: <a href="https://www.metaweather.com/api/">MetaWeather</a></p>
                </div>
            </div>
    </footer>
</body>

</html>
